mixin btn(arr)
	.wrap
		- var name = "btn";
		- var color = arr.color ? " btn--"+arr.color :"";
		- var size = arr.size ? " btn--"+arr.size : "";
		button(class=name + color + size)(
			type=arr.types 
			ng-app=arr.ngAng 
			translate=arr.translate
		)= arr.type
		- var tooltip = arr.tooltip ? arr.tooltip : false;
		if tooltip 
			.tooltip= tooltip