mixin btn(arr)
	.wrap
		- var name = "btn";
		- var styles = arr.styles || "";
		- var color = arr.color || "";
		- var size = arr.size || "";
		- var translate = arr.translate || "";
		button(class=name + ' ' + color + ' ' + size + ' ' + styles)(
			type=arr.types 
			ng-app=arr.ngAng 
			translate=arr.translate
		)= arr.type || ""
			if type
				i.icon-arrow
		- var tooltip = arr.tooltip || false;
		if tooltip 
			.tooltip(translate)= tooltip